.auto-textbox-wrapper:focus-within .textbox-list {
  display: block;
}

.textbox-list {
  display: none;
  position: absolute;
  margin: -0.6em 1em;
  background: #fff;
  border: 1px solid hsl(0, 0%, 93%);
  border-radius: 4px;
}
