* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: sans-serif;
}

/* Colors
 *
 * Primary: #336699; hsl(150, 50%, 40%)
 * PrimaryDark: #124c2f; hsl(150, 62%, 18%)
 * Secondary: #e5ae41; hsl(40, 76%, 59%)
 * SecondaryDark: #664b18; hsl(39, 62%, 25%)
 * Accent: #8648a6; hsl(280, 39%, 47%)
 * "White": #eeeeee; hsl(0, 0%, 93%)
 */

body {
  background-color: #fff;
  color: hsl(150, 62%, 18%);
}

label {
  margin: 0 0.5em;
}

p {
  margin: 0.5em 0;
}

.text-right {
  text-align: right;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border: 1px solid #eee;
  margin: 0.5em;
  padding: 1em;
}

.form-group .group-title {
  grid-column: 1 / span 2;
}

.form-group label {
  text-align: right;
}

input {
  padding: 0.5em 1em;
  margin: 0.2em 0.5em;
  font-size: 1em;
  border-radius: 0.5em;
  border: 1px solid #eee;
  outline: none;
}

input:focus {
  border-color: #396;
}

.btn {
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em 1em;
  outline: none;
  background: none;
  border: 1px solid #eee;
  border-radius: 0.5em;
  transition: all 0.2s;
}

.btn:hover {
  border: 1px solid #ccc;
}

.btn:focus {
  border: 1px solid #396;
}

.btn-primary {
  background: hsl(280, 39%, 47%);
  color: #eee;
  border: 1px solid hsl(280, 39%, 47%);
}

.btn-primary:hover {
  background: hsl(280, 39%, 37%);
  border: 1px solid hsl(280, 39%, 47%);
}

.btn-add {
  border: 1px solid hsl(280, 39%, 47%);
  color: hsl(280, 39%, 47%);
}

.btn-add:hover {
  border: 1px solid hsl(280, 39%, 37%);
  color: hsl(280, 39%, 37%);
}

.btn-close {
  border: 1px solid transparent;
  background: none;
  font-weight: bold;
  color: #124c2f;
}

.btn-close:hover {
  color: #e5ae41;
  border: 1px solid transparent;
}

.btn-delete {
  border: 1px solid transparent;
  background: none;
  font-weight: bold;
  color: #c00;
}

.btn-delete:hover {
  color: #e00;
  border: 1px solid transparent;
}

.btn-list {
  text-align: left;
}
