* { margin: 0; padding: 0; box-sizing: border-box; }

#root {
  font-family: sans-serif;
}

/* Colors
 *
 * Primary: #336699; hsl(150, 50%, 40%)
 * PrimaryDark: #124c2f; hsl(150, 62%, 18%)
 * Secondary: #e5ae41; hsl(40, 76%, 59%)
 * SecondaryDark: #664b18; hsl(39, 62%, 25%)
 * Accent: #8648a6; hsl(280, 39%, 47%)
 * "White": #eeeeee; hsl(0, 0%, 93%)
 */

body {
  background-color: hsl(150, 50%, 40%);
}

p {
  margin: 0 0.5em;
}

